*{
    margin: 0;
}


div{
    height: 50px;
    width: 50px;
    cursor: pointer;
}

#red{
    background-color: red;
}
#blue{
    background: blue;
}
#yellow{
    background: yellow;
}
#black{
    background: black;
}