body {
    min-height: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}


.container {
    background: #2D1E12;
    width: 100%;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: repeat(auto-fit,100px);
    grid-template-areas:
        "box-1 box-2 box-2 box-3"
        "box-1 box-4 box-5 box-5";
    gap: 20px;
}

.box100{
    width: 500px;
    height: 500px;
    background-color: red;
    position: sticky;
    opacity: 0.2;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    

}
.box101{
    width: 50px;
    height: 50px;
    background-color: rgb(131, 108, 108);
    position: fixed;
    right: 0;
    bottom: 0;
    

}

 @media(max-width:56em) {
    .container {
        grid-template-areas:
            "box-1 box-1 box-2 "
            "box-3 box-3 box-2 "
            "box-4 box-4 box-5 ";

    }

}
@media(max-width:42em) {
    .container {
        grid-template-areas:
            "box-1 box-2"
            " box-3 box-2"
            "box-3 box-4 "
            "box-5 box-4";

    }

} 


.box {
    background: #4E5A2A;
    border-radius: 10px;
  

}