.header{
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 100%;
    background-color: black;
    justify-content: flex-end;
    align-items: center;
    
}
.part-one{
    display: flex;
    background-color: rgba(0, 0, 255, 0.457);
    height: 100px;
    width: 50%;
    border-radius: 20px 20px 0 0;
    justify-content: center;
    align-items: center;
    color: red;
    
    
}
.part-two{
    background-color: red;
    height: 50px;
    width: 50%;
    border-radius: 0 0 20px 20px;
}
