* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    margin: 20px auto;
    width: 1000px;

}

.row {
    display: flex;
}

hr {
    border: 1px soild #eee;
}

.game-info .game-name {
    flex: 1;
}

.game-info .category {
    flex: 1;
    text-align: right;

}

.game-info .category span {
    text-transform: capitalize;
    color: #e91e63;
    font-weight: bold;
}

.hangman-draw {
    flex: 1;
    background-color: #f8f8f8;
    padding: 20px;
    height: 324px;
}

.hangman-draw .the-draw {
    width: 60px;
    height: 280px;
    border-bottom: 4px solid #222;
    position: relative;
    margin: auto;
}

.hangman-draw .the-stand:before {
    content: '';
    position: absolute;
    width: 4px;
    background-color: #222;
    height: 100%;
    left: 50%;
    margin-left: -2px;
}

.hangman-draw .the-hang:before {
    content: '';
    position: absolute;
    height: 4px;
    background-color: #222;
    width: 100%;
    left: 30px;
    top: 15px;
}

.hangman-draw .the-hang:after {
    content: '';
    position: absolute;
    width: 4px;
    height: 30px;
    background-color: #222;
    left: 90px;
    top: 15px;
}

.hangman-draw .the-rope {
    width: 60px;
    height: 60px;
    position: absolute;
    border-radius: 50%;
    left: 60px;
    top: 45px;
    border: 4px dashed #222;
}

.hangman-draw .the-man .head {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid #222;
    position: absolute;
    left: 70px;
    top: 55px;
}

.hangman-draw .the-man .body {
    position: absolute;
    background-color: #222;
    width: 4px;
    height: 120px;
    top: 91px;
    left: 88px;
}

.hangman-draw .the-man .hands:before {
    left: 87px;
    transform: rotate(30deg);
}

.hangman-draw .the-man .hands:after {
    left: 52px;
    transform: rotate(-30deg);
}
.hangman-draw .the-man .hands:after,
.hangman-draw .the-man .hands:before {
    content: '';
    width: 40px;
    position: absolute;
    height: 4px;
    background-color: #222;
    top: 218px;
}
.hangman-draw .the-man .legs:before {
    left: 87px;
    transform: rotate(-30deg);
}

.hangman-draw .the-man .legs:after {
    left: 52px;
    transform: rotate(30deg);
}
.hangman-draw .the-man .legs:after,
.hangman-draw .the-man .legs:before {
    content: '';
    width: 40px;
    position: absolute;
    height: 4px;
    background-color: #222;
    top: 115px;
}