* {
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    margin: 20px auto;
    width: 1000px;

}

.row {
    display: flex;
}

hr {
    border: 1px soild #eee;
}

.game-info .game-name {
    flex: 1;
}

.game-info .category {
    flex: 1;
    text-align: right;

}

.game-info .category span {
    text-transform: capitalize;
    color: #e91e63;
    font-weight: bold;
}

.hangman-draw {
    flex: 1;
    background-color: #009688;
    padding: 20px;
    height: 324px;
}

.hangman-draw .the-draw {
    width: 60px;
    height: 280px;
    border-bottom: 4px solid #222;
    position: relative;
    margin: auto;
    display: none;
}
.hangman-draw .the-stand {
    content: '';
    position: absolute;
    width: 4px;
    background-color: #222;
    height: 100%;
    left: 50%;
    margin-left: -2px;
    display: none;
}
.hangman-draw .the-hang{
    display: none;
}
.hangman-draw .the-hang:before {
    content: '';
    position: absolute;
    height: 4px;
    background-color: #222;
    width: 100%;
    left: 30px;
    top: 15px;
}

.hangman-draw .the-hang:after {
    content: '';
    position: absolute;
    width: 4px;
    height: 30px;
    background-color: #222;
    left: 90px;
    top: 15px;
}

.hangman-draw .the-rope {
    width: 60px;
    height: 60px;
    position: absolute;
    border-radius: 50%;
    left: 60px;
    top: 45px;
    border: 4px dashed #222;
    display: none;
}

.hangman-draw .the-man .head {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid #222;
    position: absolute;
    left: 70px;
    top: 55px;
    display: none;
}

.hangman-draw .the-man .body {
    position: absolute;
    background-color: #222;
    width: 4px;
    height: 120px;
    top: 91px;
    left: 88px;
    display: none;
}

.hangman-draw .the-man .hands:before {
    left: 87px;
    transform: rotate(30deg);
}
.hangman-draw .the-man .hands{
    display: none;
}
.hangman-draw .the-man .hands:after {
    left: 52px;
    transform: rotate(-30deg);
}

.hangman-draw .the-man .hands:after,
.hangman-draw .the-man .hands:before {
    content: '';
    width: 40px;
    position: absolute;
    height: 4px;
    background-color: #222;
    top: 218px;
}
.hangman-draw .the-man .legs{
    display: none;
}
.hangman-draw .the-man .legs:before {
    left: 87px;
    transform: rotate(-30deg);
}

.hangman-draw .the-man .legs:after {
    left: 52px;
    transform: rotate(30deg);
}

.hangman-draw .the-man .legs:after,
.hangman-draw .the-man .legs:before {
    content: '';
    width: 40px;
    position: absolute;
    height: 4px;
    background-color: #222;
    top: 115px;
}

.letters {
    flex: 1;
    padding: 15px;
    text-align: center;
}
.letters.finished{
    pointer-events: none;
}

.letters .letter-box {
    width: 55px;
    height: 55px;
    display: inline-block;
    background-color: #009688;
    color: #fff;
    font-size: 24px;
    margin-right: 10px;
    line-height: 55px;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
}

.letters .letter-box.clicked {
    background-color: #333;
    opacity: .2;
    pointer-events: none;

}

.letters-guess {
    margin: auto;
    background-color: #edeaea;
    padding: 20px;
    display: flex;
    justify-content: center;
    min-height: 104px;

}

.letters-guess span {
    width: 60px;
    height: 60px;
    font-size: 24px;
    margin-right: 10px;
    text-align: center;
    line-height: 60px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #fdfdfd;
    border-bottom: 3px solid #222;
    transition: .3s;
    cursor: pointer;
}

.letters-guess span.with-space {
    background: none;
    border-bottom: none;
    position: relative;
}

.letters-guess span.with-space:before {
    content: '';
    width: 20px;
    height: 4px;
    background-color: #020d0c;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}
.hangman-draw.wrong-1 .the-draw{
    display: block;
}
.hangman-draw.wrong-2 .the-stand{
    display: block;
}
.hangman-draw.wrong-3 .the-hang{
    display: block;
}
.hangman-draw.wrong-4 .the-rope{
    display: block;
}
.hangman-draw.wrong-5 .head{
    display: block;
}
.hangman-draw.wrong-6 .body{
    display: block;
}
.hangman-draw.wrong-7 .hands{
    display: block;
}
.hangman-draw.wrong-8 .legs{
    display: block;
}
.popup{
    position: fixed;
    background-color: #009688;
    padding: 100px 20px;
    width: 80%;
    top: 10%;
    left: 10%;
    text-align: center;
    font-size: 40px;
    border: 1px solid #ccc;
    color: #fff;
}
.rePlay{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 100px;
    margin: auto;
    font-size: bold;
    font-size: large;
    border-radius: 40px ;
    cursor: pointer;
    background-color: #009688;
    color: #fff;
    border: 1px solid #009688;
    
}
.rePlay:hover{
    background-color: #21a497;
}
